<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Carnê Fácil" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				O seu gerador para carnês de pagamento
			</p>
		</div>
		
	</div>
	<div class="row">
	<h2 class="text-center">Clientes</h2>
	  <div class="col-md-6">
	  	<a href="#!/clientes/create" class="btn btn-primary btn-lg btn-block">Criar</a>
	  </div>
	  <div class="col-md-6">
	  	<a href="#!/clientes" class="btn btn-primary btn-lg btn-block">Buscar</a>
	  </div>
	</div>
	<hr>
	<div class="row">
	<h2 class="text-center">Carnês</h2>
	  <div class="col-md-6">
	  	<a href="#!/carnes/create" class="btn btn-primary btn-lg btn-block">Criar</a>
	  </div>
	  <div class="col-md-6">
	  	<a href="#!/carnes" class="btn btn-primary btn-lg btn-block">Buscar</a>
	  </div>
	</div>
	<hr>
	<div class="row">
	<h2 class="text-center">Parcelas</h2>
	  <div class="col-md-12">
	  	<a href="#!/parcelas" class="btn btn-primary btn-lg btn-block">Buscar</a>
	  </div>
	</div>
</section>