<section data-ng-controller="ClientesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Clientes</h1>
    </div>
    <div class="form-group">
        <label class="control-label" for="nomeCliente">Nome do Cliente</label>
            <div class="controls">
                <input type="text" data-ng-model="nomeCliente" id="nomeCliente" class="form-control" placeholder="Nome do Cliente">
            </div>
            <br>
            <a class="btn btn-success" ng-click="searchClientes(nomeCliente)">Buscar Cliente</a>
            <a class="btn btn-warning" ng-click="mostrarTodosOsClientes()">Mostrar todas os Clientes</a>
    </div>
    <div class="list-group" ng-show="toShowClientes(1)">
        <a data-ng-repeat="cliente in clientesBusca track by $index" data-ng-href="#!/clientes/{{cliente._id}}" class="list-group-item">
			<h2 class="list-group-heading">Nome</h2>
            <h3 data-ng-bind="cliente.name" class="list-group-heading"></h3>
            <h2 class="list-group-heading">Endereço</h2>
            <h3 data-ng-bind="cliente.endereco" class="list-group-heading"></h3>
        </a>
    </div>
    <div class="list-group" ng-show="toShowClientes(0)">
        <a data-ng-repeat="cliente in clientes track by $index" data-ng-href="#!/clientes/{{cliente._id}}" class="list-group-item">
            <h2 class="list-group-heading">Nome</h2>
            <h3 data-ng-bind="cliente.name" class="list-group-heading"></h3>
            <h2 class="list-group-heading">Endereço</h2>
            <h3 data-ng-bind="cliente.endereco" class="list-group-heading"></h3>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!clientes.$resolved || clientes.length">
    	Nenhum Cliente criado. Porque não <a href="/#!/clientes/create">criar um</a>?
    </div>
</section>