<section data-ng-controller="CarnesController" data-ng-init="findOne()">
	<div class="page-header">
		<h2>Nome Cliente:</h2>
		<h1 data-ng-bind="carne.cliente.name"></h1>
		
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Informações</div>
		<div class="panel-body">
		<ul>
			<li><span class="label label-default">Código Carnê</span> {{carne._id}}</li>
			<li><span class="label label-default">Data Emissão</span> {{carne.created}}</li>
			<li><span class="label label-default">Número Parcelas</span> {{carne.nparcelas}}</li>
			<li><span class="label label-default">Nome do Cliente</span> {{carne.cliente.name}}</li>
			<li><span class="label label-default">Total da Compra</span> {{carne.total}}</li>

		</ul>
		</div>
		<div data-ng-repeat="parcela in parcelasImpressao">
			<div class="panel panel-default">
				<div class="panel-heading">Informações de Pagamento</div>
				<div class="panel-body">
					<div class="col-md-2">
						<span class="label label-default">Código Parcela</span> {{parcela._id}}
						<br>
						<span class="label label-default">Nome Cliente</span> {{carne.cliente.name}}
						<br>
						<span class="label label-default">Vencimento</span> {{parcela.dataVencimento}}

					</div>
					<div class="col-md-6">
						<span class="label label-default">Código Parcela</span> {{parcela._id}}
						<br>
						<span class="label label-default">Nome Cliente</span> {{carne.cliente.name}}
						<br>
						<span class="label label-default">Vencimento</span> {{parcela.dataVencimento}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == carne.user._id))">
		<a class="btn btn-primary" href="/#!/carnes/{{carne._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	
</section>
