<section data-ng-controller="ParcelasController" data-ng-init="findOne()">
	<div class="page-header">
	<h1> Código Parcela</h1>
		<h2 data-ng-bind="parcela._id"></h2>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Informações da Parcela</div>
		<div class="panel-body">
		<ul class="list-unstyled">
			<li><span class="label label-default">Código Carnê</span> {{parcela.carne._id}}</li>
			<li><span class="label label-default">Código Parcela</span> {{parcela._id}}</li>
			<li><span class="label label-default">Data Emissão</span> {{parcela.created | date}}</li>
			<li><span class="label label-default">Data Vencimento</span> {{parcela.dataVencimento | date}}</li>
			<li><span class="label label-default">Valor</span> {{parcela.valor}}</li>
			<li><span class="label label-default">Taxa de Juros</span> {{parcela.taxaJuros}}</li>
			<li><span class="label label-default">Status:</span> {{parcela.isPaga}}</li>

		</ul>
		</div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == parcela.user._id))">
		<a class="btn btn-primary" href="/#!/parcelas/{{parcela._id}}/edit">
			<i class="glyphicon glyphicon-ok"></i> Pagar Parcela
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Criada em:
			<span data-ng-bind="parcela.created | date:'mediumDate'"></span>
			por: 
			<span data-ng-bind="parcela.user.displayName"></span>
		</em>
	</small>
</section>
